<div class="col-md-12">
  <article id="sobre-mim" class="row">
    <h1>Sobre Mim</h1>
    <div>
      Lorem ipsum dolor sit amet, in solet efficiendi sea, cu nonumy invenire qui. Utinam possit voluptua cu usu. Id velit assum
      ludus mea, ius ea iisque viderer admodum. Et sea libris officiis electram. Cibo suscipit ius ad, in pro wisi soleat,
      cu nec erant delectus patrioque. Apeiri
    </div>
  </article>
</div>

<section id="artigos" class="row">
        <div class="col-md-6" *ngFor="let artigo of artigos;">
          <div class="p-3"></div>
          <article class="card artigo">
            <div class="card-block">
              <h2 class="card-title">{{artigo.titulo}}</h2>
              <p class="card-text">
                {{artigo.resumo}}
              </p>
              <button class="btn btn-primary" [routerLink]="['/artigo', artigo.id]" >ler mais</button>
            </div>
          </article>
        </div>        
      </section>